<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.systemMenuEntityMapper">
  <resultMap id="BaseResultMap" type="com.java.entity.SystemMenuAndChildrenVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_spread" jdbcType="TINYINT" property="isSpread" />
  </resultMap>
</mapper>